<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>Add a reminder with custom time and date, and then flag the message.</string>
	<key>name</key>
	<string>My Reminders</string>
	<key>uuid</key>
	<string>17BCB6BB-5276-4444-B1D3-780F279C5C8A</string>
</dict>
</plist>
